nvim/.config/nvim/plugin/packer_compiled.lua
bin/.local/bin/codex
bin/.local/bin/copilot
bin/.local/bin/gemini
bin/.local/bin/ghui
bin/.local/bin/opencode
bin/.local/bin/pi
bin/.local/bin/playwright-cli
